.profile{
    width: calc(100% - 300px);
    

    &__topBar{
        display: flex;
        justify-content: flex-end;
        margin-bottom: 30px;
    }   

    &__icon{
        margin: 0 10px;
    }

    &__btn{
        margin: 10px;
        display: flex;
        align-items: center;

    }


    &__mainSection{
        margin: 20px 10px;
        padding-bottom: 20px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgb(211, 211, 211);
        

        &Left{
            display: flex;
            flex-direction: column;
            
        }

    }

    &__details{
        color: rgb(104, 104, 104);

        &--bold{
            font-weight: 600;
        }
    }

    &__expertiseSection{
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
        border-bottom: 1px solid rgb(211, 211, 211);
    }


    &__expertiseHeader{
        color: rgb(128, 128, 128);
        margin: 5px;
    }
    &__expertiseLabel{
        display: inline-block;
        background-color: rgb(204, 231, 238);
        color: rgb(53, 99, 110);
        margin: 10px;
        padding: 2px;
        border-radius: 5px;
    }

    &__section{
        padding-bottom: 20px;
        border-bottom: 1px solid rgb(211, 211, 211);
    }
    
    &__sectionHeader{
        margin: 10px;
        padding-top: 10px;
        color: rgb(95, 95, 95);
    }
    &__sectionParagraph{
        margin: 10px;
        color: rgb(148, 148, 148);
    }

    &__correspondant{
        display: flex;
        align-items: center;
        margin: 10px;
    }

    &__correspondantImg{
        height: 20px;
        margin: 0 10px;
    }
    &__correspondantName{
        color: rgb(85, 85, 85);
        font-weight: 500;
        margin-right: 30px;
    }
    &__tableHeader{
        padding: 20px 0;
    }

    &__sectionColumnWrapper{
        display: flex;
    }

}
