.topBar__first {
  position: relative;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 4px 10px -2px #dfdfdf;
          box-shadow: 0 4px 10px -2px #dfdfdf;
}

.topBar__second {
  position: relative;
  height: 50px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 4px 10px -2px #dfdfdf;
          box-shadow: 0 4px 10px -2px #dfdfdf;
}

.topBar__logoContainer {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topBar__logo {
  height: 80%;
  margin: 0 20px;
  cursor: pointer;
}

.topBar__input {
  height: 60%;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-image: url(../../assets/media/icons/search.png);
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: center;
}

.topBar__input--first {
  width: 500px;
}

.topBar__input--second {
  width: 50%;
  margin-left: 10px;
}

.topBar__homeBtn {
  position: relative;
  margin: 0 5px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.topBar__messagesBtn {
  position: relative;
  padding: 5px;
  margin: 0 5px;
  border-radius: 100px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.topBar__rightContainer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: unset;
      -ms-flex-positive: unset;
          flex-grow: unset;
  position: absolute;
  right: 0;
  margin-right: 20px;
}

.topBar__rightContainer--first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.topBar__rightContainer--second {
  display: none;
}

.topBar__notifications {
  top: -5px;
  right: -5px;
  position: absolute;
  border-radius: 10px;
  padding: 0px 5px;
  background-color: #258a79;
  color: #fff;
  font-size: 10px;
  cursor: pointer;
}

.expMenu__input {
  margin: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: calc(100% - 10px);
  padding: 3px 0;
  border-radius: 3px;
  border: solid 1px #c2c2c2;
}

.expMenu__ul--visible {
  position: absolute;
  background-color: #fff;
  border: 1px solid #e2e2e2;
  list-style: none;
  z-index: 2;
  border-radius: 5px;
}

.expMenu__ul--novisible {
  display: none;
}

.expMenu__currentMenu {
  padding-right: 50px;
}

.expMenu__li {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.expMenu__li:hover {
  color: #636363;
}

.expMenu__linkCategory {
  display: block;
  text-align: left;
  margin: 10px 0 5px 10px;
  font-weight: lighter;
}

.expMenu__iconContainer {
  width: 20px;
  position: relative;
  margin-right: 10px;
}

.expMenu__liIcon {
  width: 100%;
}

.expMenu__arrowDown {
  margin: 0 50px;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.expMenu__link {
  padding: 5px 0;
  text-decoration: none;
}

.expMenu__a {
  margin: 0 150px 0 0;
  cursor: pointer;
  color: #686868;
}

.expMenu__homeIcon {
  margin: 0 10px;
}

.expMenu__logout {
  width: 100%;
  padding: 10px 0;
  border: none;
  border-top: 1px solid #cfcfcf;
  background-color: #fff;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.expMenu__logOutIcon {
  margin-right: 10px;
}

@media screen and (max-width: 1000px) {
  .topBar__first {
    -webkit-box-shadow: 0 1px 1px -1px #6d6d6d;
            box-shadow: 0 1px 1px -1px #6d6d6d;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .topBar__second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .topBar__input--first {
    display: none;
  }
  .topBar__rightContainer--first {
    display: none;
  }
  .topBar__rightContainer--second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .expMenu__arrowDown {
    margin: 0 10px;
  }
}
/*# sourceMappingURL=topBar-style.css.map */